<launch>
  <!-- Launch gazebo -->
  <!-- Make the world name a parameter to load from terminal -->

  <arg name="world" default="$(find maps_package)/worlds/indoor_with_distance_features.world"/>
  <!-- <arg name="world" default="$(find maps_package)/worlds/indoors_with_nothing.world"/> -->
  <arg name="gui" default="true"/>
  <!-- <arg name="verbose" default="true"/>
  <arg name="paused" default="false"/> -->

  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <!-- <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/> -->
    <arg name="gui" value="$(arg gui)" />
    <!-- <arg name="verbose" value="$(arg verbose)" />
    <arg name="paused" value="$(arg paused)" /> -->
    <arg name="world_file" value="$(arg world)"/>
  </include>

  <!-- Load map server -->
  <arg name="map" default="$(find maps_package)/maps/gmapping/indoor_with_distance_features.pgm 0.05"/>
  <!-- <arg name="map" default="$(find maps_package)/maps/gmapping/indoors_with_nothing.pgm 0.05"/> -->
  <node name="map_server" pkg="map_server" type="map_server"
    args="$(arg map)"/>

  <!-- Gmapping -->
  <arg name="gmapping_launch_file" default="$(find my_navigation)/launch/includes/gmapping/gmapping.launch.xml"/>
  <include file="$(arg gmapping_launch_file)"/>

  <!-- AMCL -->
  <arg name="amcl_launch_file" default="$(find my_navigation)/launch/includes/amcl/amcl.launch.xml"/>
  <arg name="initial_pose_x" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_y" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_a" default="0.0"/>
  <include file="$(arg amcl_launch_file)">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!-- Move base -->
  <include file="$(find my_navigation)/launch/includes/move_base.launch.xml"/>

  <!--  Used for visualising the turtlebot while building a map or navigating with the ros navistack. -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_navigation)/launch/includes/rviz/navigation.rviz"/>

</launch>
