<launch>

  <arg name='map_name' default='rooms_3'/>
  <!-- <arg name='map_name' value='indoor_with_rooms'/> -->
  <!-- <arg name='map_name' value='indoors_with_nothing'/> -->
  <!-- <arg name='map_name' value='indoor_with_distance_features'/> -->
  <!-- Launch gazebo -->
  <!-- Make the world name a parameter to load from terminal -->

  <arg name="world" default="$(find maps_package)/worlds/$(arg map_name).world"/>
  <arg name="gui" default="false"/>
  <!-- <arg name="verbose" default="true"/>
  <arg name="paused" default="false"/> -->
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <!-- <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/> -->
    <arg name="gui" value="$(arg gui)" />
    <!-- <arg name="verbose" value="$(arg verbose)" />
    <arg name="paused" value="$(arg paused)" /> -->
    <arg name="world_file" value="$(arg world)"/>
  </include>

  <!-- Load map server -->
  <arg name="map" default="$(find maps_package)/maps/gmapping/$(arg map_name).yaml"/>
  <!-- <arg name="map" default="$(find maps_package)/maps/manos/hospital_section_90.png 0.05"/> -->
  <!-- <arg name="map" default="$(find maps_package)/maps/gmapping/willow.pgm 0.1"/> -->
  <!-- <arg name="map" default="$(find maps_package)/maps/karto/vergina_3.pgm 0.025"/> -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>

  <!-- AMCL -->
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  <arg name="amcl_launch_file" default="$(find my_navigation)/launch/includes/amcl/amcl.launch.xml"/>
    <include file="$(arg amcl_launch_file)">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!-- Move base -->
  <include file="$(find my_navigation)/launch/includes/move_base.launch.xml"/>


  <!--  Used for visualising the turtlebot while building a map or navigating with the ros navistack. -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_navigation)/launch/includes/rviz/navigation.rviz"/>

</launch>
