<launch>
  <!-- <arg name='map' value='rooms_3'/> -->
  <!-- <arg name='map' value='indoor_with_rooms'/> -->
  <!-- <arg name='map' value='indoors_with_nothing'/> -->
  <!-- <arg name='map' value='indoor_with_distance_features'/> -->
  <!-- <arg name='map' value='warehouse_2'/> -->
  <arg name='map' value='warehouse_4'/>

  <!-- Load map_server, gazebo & rviz -->
  <include file="$(find my_navigation)/launch/my_nav_launch.launch">
    <arg name='map_name' value='$(arg map)'/>
  </include>

  <!-- Load parameters -->
  <param name="map_name" type="str" value="$(arg map)" />
  <rosparam file="$(find maps_package)/maps/gmapping/$(arg map).yaml" command="load"/>
  <rosparam file="$(find topology_finder)/config/config.yaml" command="load"/>

  <!-- Load nodes -->
  <node pkg="topology_finder" type="coverage_specs_subscriber.py" name="coverage_specs_subscriber" output="screen"/>
  <!-- <node pkg="topology_finder" type="coverage_number_subscriber.py" name="coverage_number_subscriber" output="screen"/> -->
  <node pkg="topology_finder" type="navigation.py" name="navigation" output="screen"/>
  <node pkg="topology_finder" type="coverage.py" name="coverage" output="screen"/>

</launch>
